@page "/"
@using KZHub.WebClient.Services;
@using SkiaSharp;
@inject CardState _cardState;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if(_cardState.Card != null)
{
    using (MemoryStream memStream = new MemoryStream())
    using (SKManagedWStream wstream = new SKManagedWStream(memStream))
    {
        @*.Encode(wstream, SKEncodedImageFormat.Png, 100);
        byte[] data = memStream.ToArray();*@

        var card = Convert.ToBase64String(_cardState.Card);
        <img src="data:image/png;base64,@card" />
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{

}